@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212121;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer components {
    .container-padding-x {
        @apply px-4
    }
    .colors-wrapper-gap {
        @apply gap-2
    }
    .color-swatch-width {
        width: calc((100% - 16px) / 3);
    }

    @media screen(sm) {
        .color-swatch-width {
            width: calc((100% - 24px) / 4);
        }
    }

    @media screen(md) {
        .container-padding-x {
            @apply px-6
        }
        .colors-wrapper-gap {
            @apply gap-2.5
        }
        .color-swatch-width {
            width: 136px;
        }
    }

    @media screen(lg) {
        .container-padding-x {
            @apply px-8
        }
        .colors-wrapper-gap {
            @apply gap-3
        }
        .color-swatch-width {
            width: 150px;
        }
    }
}